SubscriptionManagementSystem/settings.py
SubscriptionManagementSystem/__pycache__
SubSync/m1
SubSync/m2
SubSync/__pycache__

.env

media/profile_pics

SubSync/signals copy.py
SubSync/tasks copy.py
SubSync/utils copy.py